
div {
  width: 100px;
  height: 100px;
  float: left;
  position: relative;
}

#box1 {
  background-color: red;
  animation: box1 2s;
}

#box2 {
  background-color: green;
  animation: box2 2s;
}

#box3 {
  background-color: blue;
  animation: box3 2s;
}

#box4 {
  background-color: yellow;
  animation: box4 2s;
}

@keyframes box1 {
  from {
    top: -100px;
  }
  to {
    top:0;
  }
}
@keyframes box2 {
  from {
    top: -120px;
  }
  to {
    top:0;
  }
}
@keyframes box3 {
  from {
    top: -140px;
  }
  to {
    top:0;
  }
}
@keyframes box4 {
  from {
    top: -160px;
  }
  to {
    top:0;
  }
}