html,body{
  margin: 0;
  padding: 0;
  height:100%;
}
#wrap{
  width: 100%;
  overflow: hidden;
  background: #ccc;
}
#main{
  width: 100%;
  background: #ccc;
  position: relative;
  transition: 2s;
}
.page{
  width:100%;
  margin:0;
}
#page1{
  background:#E4E6CE;
}
#page2{
  background:#6CE26C;
}
#page3{
  background:#BF4938;
}
#page4{
  background:#2932E1;
} 